<% if article.errors.any? %>
  <ul class="errors">
    <% article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for article do |f| %>
  <p><%= f.text_field :title, placeholder: "Title" %></p>

  <p><%= f.text_area :content, placeholder: "Content" %></p>
  <p><%= f.collection_select :category_id, Category.all, :id, :name %></p>
  <% if f.object.persisted? %>
    <p>
      <%= f.check_box :regenerate_permalink %>
      <%= f.label :regenerate_permalink %>
    </p>
  <% end %>
  <p><%= f.submit "Save" %></p>
<% end %>
